.news-container{
    margin:30px 0;
}
.section-title{
    text-align: center;
    font-weight: 300;
    font-size:28px;
    color: #2c3e50;
    margin-bottom: 30px;
}
.news-block{
    background: white;
    border-radius: 15px;
    border-left:4px solid #667eea;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    margin:30px 0;
}
.news-header{
    margin:5px;
    padding:5px 5px 0 20px;
}
.news-title{
    color: #2c3e50 ;
    font-size: 24px;
    font-weight: 500;
}
.news-date{
    font-size: 14px;
    color: #7f8c8d;
}
.news-content{
    margin: 5px;
    padding: 20px;
}
.news-text{
    color: #2c3e50;
}
.news-link{
    color: #667eea;
    text-decoration: none;
    font-weight: 500;
}
